<!DOCTYPE html>
<html>
<head>
<title>Portables</title>

	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">


<!-- ############################ UNDERSCORE TEMPLATES ############################ -->

<!-- district display -->
<script id="district-template" type="text/underscore-template">

<% if (district_name == '-') { %> 
<% } %> 
<% if (district_name != '-') { %>
            




      <div class="large-6 columns" style="margin-top: 10px;">  
          <p>POLICY SCORECARD</p>

      <div class="large-12">
        <div class="scorecard">
          <b>Age</b><br />
          Does the district have policies resitricting maximum useful building life?
        </div>
      <% if (max_life == 'Yes') { %>
          <div class="button tiny success" style="float: right;">√
          </div>
      <% } %>
      <% if (max_life == 'No') { %>
          <div class="button tiny alert" style="float: right;">X
          </div>
      <% } %>
      <hr />
      </div>

      <div class="large-12">
        <div class="scorecard">
          <b>Purchasing</b><br />
          Does it have a policy on purchasing "green" and healthy building materials?
        </div>
      <% if (green_purchasing == 'Yes') { %>
          <div class="button tiny success" style="float: right;">√
          </div>
      <% } %>
      <% if (green_purchasing == 'No') { %>
          <div class="button tiny alert" style="float: right;">X
          </div>
      <% } %>
      <hr />
      </div>
      
      <div class="large-12">
        <div class="scorecard">
          <b>Ventilation</b><br/>
          Does it have standards for ensuring adequate ventilation?
        </div>
      <% if (ventilation == 'Yes') { %>
          <div class="button tiny success" style="float: right;">√
          </div>
      <% } %>
      <% if (ventilation == 'No') { %>
          <div class="button tiny alert" style="float: right;">X
          </div>
      <% } %>
      <hr />
      </div>

      <div class="large-12">
        <div class="scorecard">
          <b>Energy</b><br />
          Does it have requirements for building energy conservation?
        </div>
      <% if (energy_conservation == 'Yes') { %>
          <div class="button tiny success" style="float: right;">√
          </div>
      <% } %>
      <% if (energy_conservation == 'No') { %>
          <div class="button tiny alert" style="float: right;">X
          </div>
      <% } %>
      </div>
<% } %> 

</script>

<!-- Selector -->
<script id="selection-template" type="text/underscore-template">
  <option value="<%= id %>"><%= district_name %></option>
</script>



<!-- ############################ JS LIBRARIES AND APP SCRIPTS ############################ -->

  <!-- STYLESHEET -->
  <link rel="stylesheet" type="text/css" href="styles.css" />

	<!-- JQUERY -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	
	<!-- FOUNDATION -->
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"></script>

  <!-- LEAFLET -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

	<!-- BACKBONE, UNDERSCORE, JSON2 -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="https://s3.amazonaws.com/earthfix/json2.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	

  <!-- LOADING JSON ARRAY WITHIN VARIABLE -->
  <script src="data.js"></script>
	<!-- APP SCRIPTS -->
	<script src="models.js"></script>
	<script src="views.js"></script>
	<script src="router.js"></script>

</head>


<!-- ############################ DOCUMENT BODY ############################ -->
<body>

	<header id="header" class="row">
      <div class="content">
        <div class="earthfix-logo">
          <a href="http://www.earthfix.info">
            <img src="http://earthfix.info/static/images/custom_pages/voices_of_coal/earthfix.png">
          </a>
        </div>
        <div class="title">
          <h2 style="line-height: 18pt;"><b>Placeholder header</b></h2>
          <p style="line-height: 14pt;">Aging portable classrooms common in crowded, underfunded schools</p>
        </div>
        <br/>
      </div>
    </header>
    <br/>

	<div id="content">

    <div class="row">
    
      <div class="large-10 columns">

            <div class="row">
            <div class="large-10 large-offset-1 columns">
            </div>
        </div>

        <div id="selection-wrapper" class="row">

            <div class="large-3 large-offset-1 columns" id="left-district-selector"><p class="nerdbox">Choose a school district ...</p>
            </div>

            <div class="large-3 large-offset-2 columns end" id="right-district-selector">
            </div>

        </div>

        <div id="district-wrapper" class="row">
           
            <div class="large-5 medium-5 small-12 large-offset-1 columns" id="left-district">
            </div>

            <div class="large-5 medium-5 small-12 columns end" id="right-district">
            </div>


        </div>



      </div>

      <div class="large-2 columns end">
        <h3><small>Don't see your district?</small></h3>
        
        <p class="nerdbox">InvestigateWest and EarthFix surveyed the 20 largest districts in Oregon and Washington. Add yours to our coverage! Click the button to access our survey and send it to your district.</p>
          
        <div class="button">DOWNLOAD SURVEY</div>

        <hr />

        <h3><small>About the data</h3>
        <p class="nerdbox">This is the nerdbox where we tell people about how Investigate West conducted the survey and why.This is the nerdbox where we tell people about how Investigate West conducted the survey and why.This is the nerdbox where we tell people about how Investigate West conducted the survey and why.This is the nerdbox where we tell people about how Investigate West conducted the survey and why.This is the nerdbox where we tell people about how Investigate West conducted the survey and why.</p>

      </div>
    </div>
	</div>

<div id="chart"></div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="charts.js"></script>

<!-- 
    <ul>
      <li>Charting for total number and percentage of portable classrooms</li>
      <li>Locator maps for each scorecard</li>
      <li>Pre-populated "like" districts for comparison</li>
      <li>Refactor to omit currently selected school district from "comparison" menu</li>
      <li>Add ability for users to download/send survey to their district?</li>
      <li>Comments/call for instagrams of portables from each district?</li>
    </ul>
-->
			
</body>
</html>
