<!DOCTYPE html>
<html>
<head>
<title>EarthFix | Inside The Box</title>

	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">


<style>

body {

  color: #fff9f0;
}

</style>
<!-- ############################ UNDERSCORE TEMPLATES ############################ -->

<!-- district display -->
<script id="district-template" type="text/underscore-template">

<% if (district_name == '-') { %> 
<% } %> 
<% if (district_name != '-') { %>
            
      <div class="large-6 columns" style="margin-top: 10px;">  
          <p>POLICY SCORECARD</p>

      <div class="large-12">
        <div class="scorecard">
          <b>Age</b><br />
          Does the district have policies resitricting maximum useful building life?
        </div>
      <% if (max_life == 'Yes') { %>
          <div class="button tiny success" style="float: right;">√
          </div>
      <% } %>
      <% if (max_life == 'No') { %>
          <div class="button tiny alert" style="float: right;">X
          </div>
      <% } %>
      <hr />
      </div>

      <div class="large-12">
        <div class="scorecard">
          <b>Purchasing</b><br />
          Does it have a policy on purchasing "green" and healthy building materials?
        </div>
      <% if (green_purchasing == 'Yes') { %>
          <div class="button tiny success" style="float: right;">√
          </div>
      <% } %>
      <% if (green_purchasing == 'No') { %>
          <div class="button tiny alert" style="float: right;">X
          </div>
      <% } %>
      <hr />
      </div>
      
      <div class="large-12">
        <div class="scorecard">
          <b>Ventilation</b><br/>
          Does it have standards for ensuring adequate ventilation?
        </div>
      <% if (ventilation == 'Yes') { %>
          <div class="button tiny success" style="float: right;">√
          </div>
      <% } %>
      <% if (ventilation == 'No') { %>
          <div class="button tiny alert" style="float: right;">X
          </div>
      <% } %>
      <hr />
      </div>

      <div class="large-12">
        <div class="scorecard">
          <b>Energy</b><br />
          Does it have requirements for building energy conservation?
        </div>
      <% if (energy_conservation == 'Yes') { %>
          <div class="button tiny success" style="float: right;">√
          </div>
      <% } %>
      <% if (energy_conservation == 'No') { %>
          <div class="button tiny alert" style="float: right;">X
          </div>
      <% } %>
      </div>
<% } %> 

</script>

<!-- Selector -->

<script id="selection-template" type="text/underscore-template">

  <%= district_name %>

</script>

<!-- ############################ JS LIBRARIES AND APP SCRIPTS ############################ -->

  <!-- STYLESHEET -->
  <link rel="stylesheet" type="text/css" href="styles.css" />

	<!-- JQUERY -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	
	<!-- FOUNDATION -->
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"></script>

  <!-- LEAFLET -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

	<!-- BACKBONE, UNDERSCORE, JSON2 -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="https://s3.amazonaws.com/earthfix/json2.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	

  <!-- LOADING JSON ARRAYS WITHIN VARIABLES -->
  <script src="data.js"></script>
  <script src="districtboundaries.js"></script>

	<!-- APP SCRIPTS -->
	<script src="models.js"></script>
	<script src="views.js"></script>
	<script src="router.js"></script>

</head>

<body>

  <!-- HEADER -->

<!--
  <div id="map" style="height:400px; width: 100%;"></div>
  
  <script>

    var map = L.map('map').setView([47.555732, -122.473869], 8);

    L.tileLayer('http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2012 CloudMade',
                key: 'bd87c264ecdf471382954c1cade171b5'
            }).addTo(map);
  
    //L.geoJson(district_boundaries).addTo(map);

    L.geoJson(district_boundaries, {
      filter: function(feature, layer) {
        return feature.properties['NAME'] == 'Hillsboro' ;
      }
    }).addTo(map);

  </script>
-->

  <div class="row">
    <div class="large-10 large-offset-1 columns">

      <header id="header" class="row" style="background-color: #fff;" >
        
        <div class="large-5 columns">
            <img src="https://dl-web.dropbox.com/get/portables%20logo%20final/no_text680x140.jpg?_subject_uid=264936571&w=AABO9m2aMYouGY4TlqCD-KEJ_nQoNPadQVqrB2Pc1VWalA" />
        </div>

        <div class="large-7 columns end">
              
              <div class="row" style="margin-top: 20px;">

                  <div class="large-4 columns">
                    <h6>PROBLEMS</h6>
                    <p class="teaserbox">That might've been one of the shortest assignments in the history of Starfleet. Yesterday I did not know how to eat gagh.</p>
                  </div>

                  <div class="large-4 columns">
                    <h6>REGULATIONS</h6>
                    <p class="teaserbox">That might've been one of the shortest assignments in the history of Starfleet. Yesterday I did not know how to eat gagh.</p>
                  </div>

                  <div class="large-4 columns">
                    <h6>SOLUTIONS</h6>
                    <p class="teaserbox">That might've been one of the shortest assignments in the history of Starfleet. Yesterday I did not know how to eat gagh.</p>
                  </div>

              </div>
                        
        </div>
      </header>

    </div>
  </div>


  <!-- CONTENT -->

  

  <div class="row" style="margin-top: 2em;" >
    <div class="large-8 large-offset-1 columns" style="background-color: #fff;">
      
      <div id="selection-header" class="row">
      
        <div class="large-10">

          <h2><b>Portable classrooms in your district</b></h2>
          <p>Portables are 20 percent of classrooms in some districts. Old portables cause many problems, but many districts have portables older than 20 years with no requirements on when they should be retired or when their ventilation should be updated.</p>
        
        </div>

      </div>

        <div id="selection-wrapper" class="row">

            <div class="large-4 columns" id="left-district-selector">
              <!-- SELECTOR TEMPLATE RENDERED HERE
              -->
            </div>

            <div class="large-4 large-offset-2 columns end" id="right-district-selector">
              <!-- SELECTOR TEMPLATE RENDERED HERE
            -->

            </div>

        </div>

        <div id="district-wrapper" class="row">
               
            <div class="large-6 medium-6 small-12 columns" id="left-district">
              <h3><small>Choose a district...</small></h3>
              <!-- DISTRICT TEMPLATE RENDERED HERE -->
            </div>

            <div class="large-6 medium-6 small-12 columns end" id="right-district">
              <h3><small>Compare it with another....</small></h3>
              <!-- DISTRICT TEMPLATE RENDERED HERE -->
            </div>

        </div>

    </div>

    <div class="large-2 columns end" style="background-color: #fff;">
      <div class="row">
        
        <h5><b>Don't see your district?</b></h5>
        
        <p class="nerdbox">InvestigateWest and EarthFix surveyed the 20 largest districts in Oregon and Washington. Add yours to our coverage! Click 
        the button to access our survey and send it to your district.</p>
        
        <center>
            <div class="button" style="background-color: #000;">USE OUR SURVEY</div>
        </center>

        <hr />

      </div>

      <div class="row">
        
        <h5><b>About the data</b></h5>
        
        <p class="nerdbox">This is the nerdbox where we tell people about how Investigate West conducted the survey and why.This is the nerdbox where we tell people about how Investigate West conducted the survey and why.This is the nerdbox where we tell people about how Investigate West conducted the survey and why.This is the nerdbox where we tell people about how Investigate West conducted the survey and why.This is the nerdbox where we tell people about how Investigate West conducted the survey and why.</p>

        <hr/>

      </div>

    </div>

  </div>

<div id="chart"></div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="charts.js"></script>

<!-- 
    <ul>
      <li>Charting for total number and percentage of portable classrooms</li>
      <li>Locator maps for each scorecard</li>
      <li>Pre-populated "like" districts for comparison</li>
      <li>Refactor to omit currently selected school district from "comparison" menu</li>
      <li>Add ability for users to download/send survey to their district?</li>
      <li>Comments/call for instagrams of portables from each district?</li>
    </ul>
-->


			
</body>
</html>
